<div
  class="min-h-screen min-w-screen bg-teal-900 flex items-center justify-center px-5 py-5"
>
  <div
    class="w-full mx-aut rounded-xl shadow-xl text-gray-800 relative overflow-hidden"
    style="max-width: 350px"
  >
    <h1 class="text-3xl font-bold text-center py-10 text-white">
      Angular Calculator
    </h1>
    <!-- calculator screen -->
    <div
      class="w-full h-40 bg-gradient-to-b from-slate-600 to-slate-900 text-right"
    >
      <!-- function screen -->
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">
        {{ funcT }}
      </div>
      <!-- number screen -->
      <div class="w-full px-5 py-5 text-6xl font-thin text-white">
        {{ calValue }}
      </div>
    </div>
    <!-- botons area -->
    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- first row -->
      <div class="flex w-full">
        <div class="w-2/4 border-r border-b border-red-400 h-20">
          <button
            class="w-full h-full outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-light"
            (click)="onClickValue('c', 'function')"
          >
            C
          </button>
        </div>
        <div class="w-1/4 h-20 border-red-400 border-b border-r">
          <button
            class="w-full h-full outline-none font-light hover:bg-red-700 text-white text-opacity-50 hover:bg-opacity-20 text-xl"
            (click)="onClickValue('%', 'function')"
          >
            %
          </button>
        </div>
        <div class="w-1/4 border-b border-r border-red-400">
          <button
            class="w-full h-full outline-none font-light text-white hover:bg-red-700 text-opacity-50 hover:bg-opacity-20 text-xl"
            (click)="onClickValue('/', 'function')"
          >
            /
          </button>
        </div>
      </div>

      <!-- second row -->
      <div class="w-full flex">
        <div class="w-1/4 h-20 border-b border-r border-red-400">
          <button
            class="h-full w-full outline-none hover:bg-red-700 hover:bg-opacity-20 text-opacity-50 text-white font-light"
            (click)="onClickValue('7', 'number')"
          >
            7
          </button>
        </div>
        <div class="w-1/4 h-20 border-b border-r border-red-400">
          <button
            class="h-full w-full outline-none hover:bg-red-700 hover:bg-opacity-20 text-opacity-50 text-white font-light"
            (click)="onClickValue('8', 'number')"
          >
            8
          </button>
        </div>
        <div class="w-1/4 h-20 border-b border-r border-red-400">
          <button
            class="h-full w-full outline-none hover:bg-red-700 hover:bg-opacity-20 text-opacity-50 text-white font-light"
            (click)="onClickValue('9', 'number')"
          >
            9
          </button>
        </div>
        <div class="w-1/4 h-20 border-b border-r border-red-400">
          <button
            class="h-full w-full outline-none hover:bg-red-700 hover:bg-opacity-20 text-opacity-50 text-white font-light"
            (click)="onClickValue('*', 'function')"
          >
            *
          </button>
        </div>
      </div>
      <!--  third row -->
      <div class="flex w-full">
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('4', 'number')"
          >
            4
          </button>
        </div>
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('5', 'number')"
          >
            5
          </button>
        </div>
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('6', 'number')"
          >
            6
          </button>
        </div>
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('-', 'function')"
          >
            -
          </button>
        </div>
      </div>
      <!-- fourth rpw -->
      <div class="flex w-full">
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('1', 'number')"
          >
            1
          </button>
        </div>
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('2', 'number')"
          >
            2
          </button>
        </div>
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('3', 'number')"
          >
            3
          </button>
        </div>
        <div class="w-1/4 h-20 border-r border-b border-red-400">
          <button
            class="w-full h-full opacity-50 hover:bg-red-700 outline-none text-white font-light"
            (click)="onClickValue('+', 'function')"
          >
            +
          </button>
        </div>
      </div>

      <div class="w-full flex">
        <div class="w-1/4 h-20 border-r border-red-400">
          <button
            class="w-full h-full font-light text-white outline-none opacity-50 hover:bg-red-700"
            (click)="onClickValue('0', 'number')"
          >
            0
          </button>
        </div>
        <div class="w-1/4 h-20 border-r border-red-400">
          <button
            class="w-full h-full font-light text-white outline-none opacity-50 hover:bg-red-700"
            (click)="onClickValue('.', 'number')"
          >
            .
          </button>
        </div>
        <div class="w-2/4 h-20 border-r border-red-400">
          <button
            class="w-full h-full font-light text-white outline-none opacity-50 hover:bg-red-700"
            (click)="onClickValue('=', 'function')"
          >
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
